<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">E comemerce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            {% for c in categories -%}
            <li class="nav-item">
                <a class="nav-link" href="?category_id={{c.id}}">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <form class="d-flex" action="/">
        <input name="q" class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
</nav>